:root {
    --fonte: 'Poppins', sans-serif;
}
body {
    background: rgba(94, 31, 145, 0.89); 
    font-family: var(--fonte);

}

h1 {
    font-weight: 700;
}

header {
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
    background: white;
    border: 2px solid black;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 5px 5px black;
}

#resultado {
    margin-top: 2em;
    width: 600px;
    height: 150px;
    border: 2px solid black;
}

.aparecerNaTela {
    display: none
}